.login-first__bottom--bottom .login-first__bottom--top button.button-kakao {
  width: 100%;
  height: 20rem;
  font-size: 6rem;
  font-weight: 500;
  background: #fae100 url(../image/common/icon-kakao.png) no-repeat left 7rem center;
  background-size: 9.9rem 9.1rem;
  border-radius: 2rem;
  color: #000000;
}

.color-purple {
  color: #795bdc;
}