@charset "UTF-8";
/* index :: PREMIUM */
.care-service__inner {
  position: relative;
  height: auto;
  padding: 9rem 5rem;
  background: #4b62c3;
}
.care-service__inner--purple {
  padding: 9rem 5rem 9rem 8rem;
  background: #795bdc;
}
.care-service__inner--purple .small-title span {
  display: inline-block;
  padding: 1rem 1.6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: #6349ba;
  font-size: 4rem;
  font-weight: 600;
  background-color: #fff;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.care-service__inner--purple .small-title p {
  display: inline-block;
  margin-left: 2rem;
  color: #fff;
  font-size: 4.6rem;
  font-weight: 500;
  vertical-align: middle;
}
.care-service__inner--purple .name {
  padding-top: 5rem;
  font-size: 9rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: -2px;
}
.care-service__inner--purple .text {
  position: relative;
  padding-top: 4.5rem;
  line-height: 8rem;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: -1px;
  color: #fff;
}
.care-service__inner--purple .text::after {
  position: absolute;
  width: 9.7rem;
  height: 9.7rem;
  background: url(../image/m-sub/icon-mainSmile.png) no-repeat;
  background-size: cover;
  content: "";
}
.care-service__inner--purple .premium__wrap {
  margin-top: 8rem;
}
.care-service__inner--purple .premium__wrap .premium__box {
  padding: 6rem 4rem;
  width: 50%;
  height: 28.5rem;
  background-color: #6449bb;
  border-radius: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.care-service__inner--purple .premium__wrap .premium__box + .premium__box {
  margin-left: 2rem;
}
.care-service__inner--purple .premium__wrap .premium__box .text {
  padding-top: 0;
  padding-left: 8.5rem;
  font-size: 5rem;
}
.care-service__inner--purple .premium__wrap .premium__box .text::after {
  display: none;
  content: "";
}
.care-service__inner--purple .premium__wrap .premium__box .text.calender {
  position: relative;
}
.care-service__inner--purple .premium__wrap .premium__box .text.calender::before {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 5.5rem;
  height: 5.2rem;
  background: url(../image/m-sub/icon-mainCalender.png) no-repeat;
  background-size: cover;
  content: "";
}
.care-service__inner--purple .premium__wrap .premium__box .text.piggybank {
  position: relative;
}
.care-service__inner--purple .premium__wrap .premium__box .text.piggybank::before {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 6.1rem;
  height: 5.8rem;
  background: url(../image/m-sub/icon-mainPiggybank.png) no-repeat;
  background-size: cover;
  content: "";
}
.care-service__inner--purple .premium__wrap .premium__box .num {
  padding-top: 3rem;
  font-size: 7rem;
  color: #fff;
  text-align: right;
}
.care-service__inner--purple .premium__wrap .premium__box .num span {
  font-size: 5.5rem;
}
.care-service__text1 {
  margin-top: 9rem;
  color: #ffffff;
  font-size: 7rem;
  text-align: center;
}
.care-service__text2 {
  margin-top: 5rem;
  color: #b8bfe7;
  font-size: 4.4rem;
  text-align: center;
}
.care-service__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 13rem;
  background: #ffffff;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(84, 93, 131, 0.35);
          box-shadow: 2rem 2rem 4rem rgba(84, 93, 131, 0.35);
}
.care-service__button {
  height: 20rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 7rem;
  font-weight: 600;
  color: #3c50a2;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(1, 10, 46, 0.15);
          box-shadow: 2rem 2rem 4rem rgba(1, 10, 46, 0.15);
}
.care-service-icon {
  width: 25.1rem;
  height: 25.1rem;
  margin: 0 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.care-service-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
}
.care-service-icon:nth-child(1) {
  background-image: url(../image/main/icon-care-service01.png);
}
.care-service-icon:nth-child(2) {
  background-image: url(../image/main/icon-care-service02.png);
}
.care-service-icon:nth-child(3) {
  background-image: url(../image/main/icon-care-service03.png);
}

/* index :: 선호지역 팝업 */
#preferredArea .modal-body > .modal-body {
  padding: 6.5rem 6rem 15rem 6rem;
}
#preferredArea .modal-body > .modal-body .ui-buttons__fourth {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#preferredArea .modal-body > .modal-body .ui-buttons__fourth .ui-button {
  max-width: calc(25% - 2rem);
  margin: 0;
  text-align: center;
}
#preferredArea .modal-body > .modal-body .ui-buttons__fourth .ui-button:nth-child(n+5) {
  margin-top: 2rem;
}

/* 동영상 콘텐츠 영역 */
.video-area__inner {
  height: 0;
  margin: 13rem 5rem 0 5rem;
  padding-bottom: 53.48%;
  background: #4b62c3;
  border-radius: 3rem;
}
.video-item img {
  width: 100%;
}

/* 컨텐츠 영역 */
.look-service__inner {
  margin: 14rem 5rem 0 5rem;
  height: 75.5rem;
  border-radius: 3rem;
  overflow: hidden;
}
.look-service .swiper-pagination-fraction {
  display: inline-block;
  right: 6rem;
  bottom: 4.5rem;
  left: auto;
  width: 12rem;
  padding: 1.35rem 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  border-radius: 3.6rem;
  line-height: 100%;
  color: #ffffff;
}
.look-service .swiper-pagination-fraction span {
  font-size: 3rem;
  line-height: 100%;
}
.look-service__vip {
  height: 100%;
}
.look-service__vip__inner {
  height: 100%;
  padding: 8rem 9rem;
  background: #e3e8fe url(../image/main/bg-vip.png) no-repeat right 4.7rem bottom;
  background-size: 56.8rem 67.3rem;
}
.look-service__vip-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}
.look-service__vip-title {
  display: inline-block;
  margin-bottom: 4rem;
  padding: 3rem 4rem;
  font-size: 4.6rem;
  font-weight: 500;
  background: #ffffff;
  border-radius: 5.1rem;
  line-height: 100%;
}
.look-service__vip-text {
  display: block;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 8.8rem;
}
.look-service__vip-text2 {
  display: block;
  margin-top: 3rem;
  font-size: 4rem;
  color: #333333;
}
.look-service__vip .ui-button--icon__right {
  height: auto;
  margin-top: auto;
  font-size: 4.2rem;
  line-height: normal;
  text-align: left;
  color: #000000;
}
.look-service__vip .ui-button--icon__right::after {
  display: inline-block;
  width: 1.8rem;
  height: 3.3rem;
  margin-left: 3rem;
  background: url(../image/common/icon/icon_arrowRight.png);
  background-size: cover;
  content: "";
}

.with-vomi {
  width: 100%;
  height: 100%;
}
.with-vomi__inner {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}
.with-vomi__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 7rem 9rem;
  background: #e4ecfe;
}
.with-vomi__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: -1.5rem;
}
.with-vomi__review--card {
  padding: 1.5rem;
}
.with-vomi__review--card__inner {
  padding: 5rem;
  height: 100%;
  background: #ffffff;
  border-radius: 1.5rem;
  -webkit-box-shadow: 1rem 1rem 1.5rem rgba(66, 70, 75, 0.1);
          box-shadow: 1rem 1rem 1.5rem rgba(66, 70, 75, 0.1);
}
.with-vomi__review--name {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 500;
}
.with-vomi__review--star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.with-vomi__review--star > i {
  display: inline-block;
  width: 3.3rem;
  height: 3.2rem;
  background: url(../image/common/icon-star.png);
  background-size: 3.3rem 3.2rem;
}
.with-vomi__review--star > i + i {
  margin-left: 0.7rem;
}
.with-vomi__review--star-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}
.with-vomi__review--star img {
  display: inline-block;
  height: 3.2rem;
}
.with-vomi__review--star span {
  padding-left: 1rem;
  font-size: 3.6rem;
  font-weight: 500;
  color: #4b62c3;
}
.with-vomi__review--star-num {
  margin-left: 1.4rem;
  font-size: 3.6rem;
}
.with-vomi__review--cont {
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.6rem;
  color: #555555;
  letter-spacing: -1px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.slide-title {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 100%;
}
.slide-title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}
.slide-title__wrap .button-plus {
  margin-left: auto;
}

.my-question {
  width: 100%;
  height: 100%;
}
.my-question__inner {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
}
.my-question__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 7rem 9rem;
  background: #e4ecfe;
}
.my-question__q {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.my-question__q--img {
  margin-left: 2rem;
  background: url(../image/main/my-question__q.png);
}
.my-question__q--text {
  background: #4b62c3;
  color: #ffffff;
}
.my-question__q--text::before {
  right: -1.2rem;
  background: url(../image/main/icon-question__tail.png);
}
.my-question__a {
  margin-top: 4rem;
}
.my-question__a--img {
  margin-right: 2rem;
  background: url(../image/main/my-question__a.png);
}
.my-question__a--text {
  background: #ffffff;
}
.my-question__a--text::before {
  left: -1.2rem;
  background: url(../image/main/icon-answer__tail.png);
}
.my-question__q, .my-question__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.my-question__q--img, .my-question__a--img {
  width: 13rem;
  height: 13rem;
  background-size: 13rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.my-question__q--text, .my-question__a--text {
  position: relative;
  padding: 3rem 4rem;
  border-radius: 3rem;
  -webkit-box-shadow: 1rem 1rem 1.5rem rgba(66, 70, 75, 0.1);
          box-shadow: 1rem 1rem 1.5rem rgba(66, 70, 75, 0.1);
}
.my-question__q--text__inner, .my-question__a--text__inner {
  font-size: 4rem;
  line-height: 6rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.my-question__q--text::before, .my-question__a--text::before {
  position: absolute;
  top: 0.5rem;
  width: 4.9rem;
  height: 7.2rem;
  background-size: 4.9rem 7.2rem;
  content: "";
}

/** case2 */
.care-enroll-progress__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.care-enroll-info {
  margin-top: 12rem;
}
.care-enroll-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.care-enroll-info__list + .care-enroll-info__list {
  margin-top: 5.5rem;
}
.care-enroll-info__title, .care-enroll-info__text {
  font-size: 5.4rem;
}
.care-enroll-info__title {
  width: 33.5rem;
  color: #575c62;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.care-enroll-info__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.care-enroll-info__text--s {
  font-size: 5.6rem;
  line-height: 9rem;
}
.care-enroll-button {
  margin-top: 9rem;
}

.index-case-box {
  padding: 13rem 5rem;
}
.index-case-box.overflow-hidden {
  overflow: hidden;
}
.index-case-box__gray {
  background: #f3f5fb;
}
.index-case-box.look-service {
  padding-top: 0;
  padding-bottom: 0;
}
.index-case-box .look-service__inner {
  margin: 0;
  margin-top: 1rem;
}
.index-case-box .bgTop_gray {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: #f2f3f7;
}
.index-case-box .bgTop_gray::before {
  position: absolute;
  width: 5%;
  left: -5%;
  height: 3rem;
  background-color: #f2f3f7;
  content: "";
}
.index-case-box .bgTop_gray::after {
  position: absolute;
  width: 5%;
  right: -5%;
  height: 3rem;
  background-color: #f2f3f7;
  content: "";
}
.index-case-box .apply .carer-info {
  margin: 0;
}
.index-case-box .apply .carer-detail {
  margin-top: 0;
}
.index-case-box .apply .carer-buttons.on .carer-button {
  background: -webkit-gradient(linear, left bottom, left top, from(#ab97eb), color-stop(60%, #ab97eb), to(rgba(171, 151, 235, 0.8)));
  background: linear-gradient(0deg, #ab97eb 0%, #ab97eb 60%, rgba(171, 151, 235, 0.8) 100%);
}
.index-case-box .apply .carer-buttons.on .carer-button__wish {
  display: block;
  background: #846cdd;
}
.index-case-box .apply .carer-buttons.on .carer-button__wish i {
  display: inline-block;
  width: 6.6rem;
  height: 6.3rem;
  background: url(../image/m-sub/icon-star-on.png);
  background-size: cover;
}
.index-case-box .apply .carer-buttons.on .carer-button__choice {
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#ab97eb), color-stop(60%, #ab97eb), to(rgba(171, 151, 235, 0.8)));
  background: linear-gradient(0deg, #ab97eb 0%, #ab97eb 60%, rgba(171, 151, 235, 0.8) 100%);
}
.index-case-box .apply .carer-buttons.off .carer-button__wish {
  display: block;
  background: #846cdd;
}
.index-case-box .apply .carer-buttons.off .carer-button__wish i {
  display: inline-block;
  width: 6.6rem;
  height: 6.3rem;
  background: url(../image/m-sub/icon-star-off.png);
  background-size: cover;
}
.index-case-box .apply .carer-buttons.off .carer-button__choice {
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#ab97eb), color-stop(60%, #ab97eb), to(rgba(171, 151, 235, 0.8)));
  background: linear-gradient(0deg, #ab97eb 0%, #ab97eb 60%, rgba(171, 151, 235, 0.8) 100%);
}
.index-case-box .apply .carer-buttons.basic button {
  background: -webkit-gradient(linear, left bottom, left top, from(#ab97eb), color-stop(60%, #ab97eb), to(rgba(171, 151, 235, 0.8)));
  background: linear-gradient(0deg, #ab97eb 0%, #ab97eb 60%, rgba(171, 151, 235, 0.8) 100%);
}
.index-case-box .carer-info {
  margin: 12.7rem 0 5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index-case-box .carer-info > div {
  font-size: 5.2rem;
}
.index-case-box .carer-info > div.ellipse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index-case-box .carer-info > div.ellipse .choice {
  padding: 4rem;
  border: 2px solid #d5d9df;
  border-radius: 10rem;
  color: #656565;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index-case-box .carer-info > div.ellipse .choice + .choice {
  margin-left: 2rem;
}
.index-case-box .carer-info > div.ellipse .choice i {
  display: inline-block;
  margin-right: 1.5rem;
  width: 5.1rem;
  height: 4.9rem;
  background-image: url(../image/m-sub/icon-star-line-gray.png);
  background-size: contain;
  vertical-align: top;
}
.index-case-box .carer-info > div.ellipse .choice .ui-select {
  padding: 0;
  height: auto;
  color: #656565;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../image/m-sub/icon_arrowDown_g.png) no-repeat right 0 center;
  background-size: 3.6rem 2rem;
  border: 0;
}
.index-case__title {
  margin-bottom: 7rem;
  font-size: 6rem;
  font-weight: 600;
}
.index-case__title.mt__rem-13 {
  margin-top: 13rem;
}
.index-case__title.mt__rem-13 span {
  float: right;
  font-size: 4.8rem;
  color: #9196a5;
}
.index-case-item {
  padding: 8rem 9rem;
  border-radius: 3rem;
  overflow: hidden;
}
.index-case-item__title {
  font-size: 6.4rem;
  font-weight: 500;
}
.index-case-item__purple {
  background: #e3e3fe;
}

.progress-step {
  position: relative;
  width: 31.1rem;
  height: 35.9rem;
  padding: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #e1e4ee;
  background-repeat: no-repeat;
  background-position: right 5rem bottom 5rem;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 7rem;
  color: #9196a5;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.progress-step + .progress-step {
  margin-left: 3.2rem;
}
.progress-step__matching {
  background-image: url(../image/main/icon-matching.png);
  background-size: 9.1rem 8.7rem;
}
.progress-step__waiting {
  background-image: url(../image/main/icon-waiting.png);
  background-size: 6.5rem 8.7rem;
}
.progress-step__doing {
  background-image: url(../image/main/icon-doing.png);
  background-size: 9.4rem 8.9rem;
}
.progress-step__end {
  background-image: url(../image/main/icon-end.png);
  background-size: 9.3rem 8.1rem;
}
.progress-step:not(.progress-step__end)::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -2.2rem;
  width: 2.6rem;
  height: 4.3rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='43'%3E%3Cpath fill='%23E1E4EE' fill-rule='evenodd' d='M24.753 20.036c1.332.771 1.332 2.693 0 3.464L3.028 42.413c-1.334.771-3.001-.191-3.001-1.731V2.855c0-1.541 1.667-2.503 3.001-1.733l21.725 18.914Z'/%3E%3C/svg%3E");
  background-size: 2.6rem 4.3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
}
.progress-step:not(.progress-step__end).is-active::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='43'%3E%3Cpath fill='%234b62c3' fill-rule='evenodd' d='M24.753 20.036c1.332.771 1.332 2.693 0 3.464L3.028 42.413c-1.334.771-3.001-.191-3.001-1.731V2.855c0-1.541 1.667-2.503 3.001-1.733l21.725 18.914Z'/%3E%3C/svg%3E");
}
.progress-step:not(.progress-step__end).is-active.progress-step__matching {
  background-image: url(../image/main/icon-matching__active.png);
}
.progress-step:not(.progress-step__end).is-active.progress-step__waiting {
  background-image: url(../image/main/icon-waiting__active.png);
}
.progress-step:not(.progress-step__end).is-active.progress-step__doing {
  background-image: url(../image/main/icon-doing__active.png);
}
.progress-step:not(.progress-step__end).is-active.progress-step__end {
  background-image: url(../image/main/icon-end__active.png);
}
.progress-step.is-active {
  background-color: #4b62c3;
  color: #ffffff;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.35);
          box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.35);
}
.progress-step.is-active.progress-step__matching {
  background-image: url(../image/main/icon-matching__active.png);
}
.progress-step.is-active.progress-step__waiting {
  background-image: url(../image/main/icon-waiting__active.png);
}
.progress-step.is-active.progress-step__doing {
  background-image: url(../image/main/icon-doing__active.png);
}
.progress-step.is-active.progress-step__end {
  background-image: url(../image/main/icon-end__active.png);
}
.progress-step:not(.progress-step__end).is-past {
  background-color: #ffffff;
  color: #2e439b;
}
.progress-step:not(.progress-step__end).is-past::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='43'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M24.753 20.036c1.332.771 1.332 2.693 0 3.464L3.028 42.413c-1.334.771-3.001-.191-3.001-1.731V2.855c0-1.541 1.667-2.503 3.001-1.733l21.725 18.914Z'/%3E%3C/svg%3E");
}
.progress-step:not(.progress-step__end).is-past.progress-step__matching {
  background-image: url(../image/main/icon-matching__past.png);
}
.progress-step:not(.progress-step__end).is-past.progress-step__waiting {
  background-image: url(../image/main/icon-waiting__past.png);
}
.progress-step:not(.progress-step__end).is-past.progress-step__doing {
  background-image: url(../image/main/icon-doing__past.png);
}
.progress-step:not(.progress-step__end).is-past.progress-step__end {
  background-image: url(../image/main/icon-end__past.png);
}

/* 보미쌤 지원 현황 */
.carer-list {
  border-radius: 3rem;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
          box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
  overflow: hidden;
}
.carer-list + .carer-list {
  margin-top: 12rem;
}
.carer-list__premium {
  position: relative;
}
.carer-list__premium::before {
  position: absolute;
  top: -3rem;
  right: 5.5rem;
  width: 16rem;
  height: 21.9rem;
  background: url(../image/main/badge-premium.png);
  background-size: cover;
  content: "";
  z-index: 2;
}
.carer-list.is-show .carer-detail__list--more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carer-content {
  padding: 9rem 6.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.carer-image {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  height: 40.1rem;
  border-radius: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
}
.carer-image img {
  max-height: 100%;
  height: 100%;
}
.carer-nsy {
  font-size: 5.4rem;
}
.carer-name {
  font-size: 7rem;
  font-weight: 600;
}
.carer-info {
  margin-left: 0;
}
.carer-detail {
  margin-top: 0;
}
.carer-detail__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.carer-detail__list--more {
  display: none;
}
.carer-detail__title, .carer-detail__text {
  font-size: 5.6rem;
}
.carer-detail__title {
  width: 40rem;
  color: #575c62;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  line-height: 9.4rem;
  text-align: left;
}
.carer-detail__text {
  line-height: 9.4rem;
  word-break: keep-all;
  letter-spacing: -1px;
  vertical-align: middle;
  text-align: right;
}
.carer-detail__text .badge {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 3.9rem;
  padding: 0.9rem 2rem;
  font-size: 4rem;
  font-weight: 500;
  color: #4b62c3;
  background: #e1e4ee;
  border-radius: 2.8rem;
}
.carer-cost {
  margin-top: 7rem;
}
.carer-cost__text {
  font-size: 4.4rem;
  color: #575c62;
}
.carer-cost__num {
  margin-top: 2rem;
  font-size: 7.4rem;
  font-weight: 600;
}
.carer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carer-buttons--purple button {
  background: #ab97eb;
}
.carer-button {
  width: 100%;
  height: 16rem;
  background: #8999de;
  color: #ffffff;
  font-size: 6rem;
  font-weight: 500;
  text-shadow: 0.5rem 0.5rem 0.3rem rgba(27, 41, 101, 0.3);
}
.carer-button__choice {
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#8999de), color-stop(60%, #8999de), to(rgba(97, 122, 176, 0.8)));
  background: linear-gradient(0deg, #8999de 0%, #8999de 60%, rgba(97, 122, 176, 0.8) 100%);
}
.carer-button__choice__on {
  display: block;
}
.carer-button__wish {
  display: none;
  width: 16.7rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: #4a61c0;
}
.carer-button__wish__on {
  display: block;
}
.carer-button__wish i {
  display: inline-block;
  width: 7.4rem;
  height: 7rem;
  background: url(../image/main/icon-star.png);
  background-size: cover;
}

/* 간병 기간 변경하기 팝업 */
.care-date__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.care-date__list + .care-date__list {
  margin-top: 8rem;
}
.care-date__title, .care-date__text {
  font-size: 5.4rem;
}
.care-date__title {
  width: 40rem;
  color: #575c62;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.care-date__button {
  margin-left: auto;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* 지원자 없음 */
.no-carer__inner {
  margin-bottom: 5rem;
}
.no-carer__title {
  font-size: 6.5;
  font-weight: 500;
  line-height: 9rem;
  text-align: center;
}
.no-carer__text {
  margin-top: 6rem;
  font-size: 5rem;
  text-align: center;
}

.chooseCarer__text {
  font-size: 5rem;
  line-height: 7rem;
}
.chooseCarer__text:nth-child(1) {
  margin-top: 11.5rem;
}
.chooseCarer__text + .chooseCarer__text {
  margin-top: 8.5rem;
}

/* Case1 :: 오늘 할 일 */
.case1 {
  padding: 5rem;
  background-color: #fff;
  border-radius: 3rem;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
  box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.case1 .dDay {
  padding-top: 4rem;
  padding-bottom: 9rem;
  font-size: 6.5rem;
  text-align: center;
  letter-spacing: -1px;
  line-height: 8rem;
  border-bottom: 0.4rem solid #dddddd;
}
.case1 .dDay span {
  position: relative;
  font-size: 6.5rem;
  color: #dd5458;
  font-weight: 500;
  z-index: 1;
}
.case1 .dDay span::after {
  position: absolute;
  left: -0.5rem;
  bottom: 0.9rem;
  width: 110%;
  height: 3rem;
  background-color: #f8ddde;
  z-index: -1;
  content: "";
}
.case1 .text {
  padding-top: 9rem;
  text-align: left;
}
.case1 .text p {
  padding: 0 20rem;
  font-size: 5.5rem;
  line-height: 8rem;
}

/* Case1 :: 간병 매칭현황 */
.matching {
  overflow: hidden;
}
.matching__inner {
  overflow: visible;
  display: block;
  height: auto;
  margin: 13rem 5rem 0 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.matching__inner .tab {
  position: relative;
  overflow: visible;
  padding-top: 3rem;
}
.matching__inner .tab .top {
  overflow: visible;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dcdce2;
}
.matching__inner .tab .top::before {
  position: absolute;
  width: 10%;
  height: 1px;
  left: -10%;
  bottom: -1px;
  background-color: #dcdce2;
  content: "";
}
.matching__inner .tab .top::after {
  position: absolute;
  width: 10%;
  height: 1px;
  right: -10%;
  bottom: -1px;
  background-color: #dcdce2;
  content: "";
}
.matching__inner .tab .top li {
  display: inline-block;
  margin-left: -4px;
  width: 25%;
  height: 12rem;
  text-align: center;
  cursor: pointer;
}
.matching__inner .tab .top li:first-child {
  margin-left: 0;
}
.matching__inner .tab .top li a {
  color: #928ea0;
  font-size: 5.5rem;
  font-weight: 400;
}
.matching__inner .tab .top li .plus {
  padding-right: 40px;
  text-align: right;
  background-color: #fff;
}
.matching__inner .tab .top li.on {
  background: #fff;
}
.matching__inner .tab .top li.on a {
  position: relative;
  color: #3d3651;
  font-weight: 500;
}
.matching__inner .tab .top li.on a::after {
  position: absolute;
  width: 100%;
  height: 0.8rem;
  left: 0;
  bottom: -5.4rem;
  background-color: #3d3651;
  border-radius: 0.3rem;
  content: "";
}
.matching__inner .tab .carer-list {
  margin-top: 8rem;
}
.matching__inner .tab .conBox {
  display: none;
  width: 100%;
  height: auto;
  min-height: 200px;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.matching__inner .tab .conBox .hidden {
  position: absolute;
  left: -20000px;
}
.matching__inner .tab .conBox .line {
  width: 100%;
  padding: 20px 40px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.matching__inner .tab .conBox a {
  width: 100%;
  display: inline-block;
  font-size: 18px;
}
.matching__inner .tab .conBox em {
  float: right;
  font-size: 14px;
}
.matching__inner .tab .conBox.on {
  display: block;
  padding: 20px 0;
  margin-top: -1px;
  padding-bottom: 12rem;
}

/* Case1 :: 팝업 */
#nursingCare .sub-text {
  padding: 0 2rem;
  word-break: keep-all;
}

/* Case2 :: 오늘 할 일 */
.todayList {
  margin-top: 7rem;
}
.todayList > div {
  padding: 5rem;
  width: 33.33%;
  height: 35.7rem;
  background-color: #fff;
  border-radius: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  letter-spacing: -1px;
  -webkit-box-shadow: 11px 16px 40px 0px rgba(67, 76, 133, 0.28);
          box-shadow: 11px 16px 40px 0px rgba(67, 76, 133, 0.28);
  opacity: 0.4;
  cursor: pointer;
}
.todayList > div.check {
  position: relative;
}
.todayList > div.check::after {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  width: 8.8rem;
  height: 8.1rem;
  background: url(../image/m-sub/icon-mainCheck.png) no-repeat;
  background-size: 8.8rem 8.1rem;
  content: "";
}
.todayList > div.note {
  position: relative;
}
.todayList > div.note::after {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  width: 6rem;
  height: 9.7rem;
  background: url(../image/m-sub/icon-mainNote.png) no-repeat;
  background-size: 6rem 9.7rem;
  content: "";
}
.todayList > div.confirm {
  position: relative;
}
.todayList > div.confirm::after {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  width: 6.8rem;
  height: 9rem;
  background: url(../image/m-sub/icon-mainConfirm.png) no-repeat;
  background-size: 6.8rem 9rem;
  content: "";
}
.todayList > div.is-active {
  opacity: 1;
}
.todayList > div + div {
  margin-left: 3.3rem;
}

/* Case2 :: 매칭현황 */
/* Case2 :: 환자 상태 점검하기 팝업 */
#checking .modal-sub-header {
  padding-top: 7rem;
  font-size: 6rem;
  font-weight: 600;
}
#checking .modal-sub-header.seconde {
  padding-top: 3rem;
}
#checking .modal-body .checking__wrap {
  margin: 7rem 6rem 0 6rem;
  padding: 8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f6fb;
  border-radius: 3rem;
}
#checking .modal-body .checking__wrap .rating {
  padding: 4.8rem 0;
  color: #6349ba;
  border: 1px solid #6349ba;
  font-size: 6rem;
  background-color: #fff;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
#checking .modal-body .checking__wrap .rating span {
  font-weight: 600;
  font-size: 6rem;
}
#checking .modal-body .checking__wrap .rating-detail {
  padding-top: 8rem;
}
#checking .modal-body .checking__wrap .rating-detail dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#checking .modal-body .checking__wrap .rating-detail dl + dl {
  margin-top: 6rem;
}
#checking .modal-body .checking__wrap .rating-detail dl dt {
  font-size: 5.4rem;
  font-weight: 300;
  color: #575c62;
}
#checking .modal-body .checking__wrap .rating-detail dl dd {
  font-size: 5.4rem;
  color: #000;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input {
  padding: 6rem 7rem;
  margin-top: 5rem;
  width: 100%;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input::-webkit-input-placeholder {
  color: #9196a5;
  font-weight: 300;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input::-moz-placeholder {
  color: #9196a5;
  font-weight: 300;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input:-ms-input-placeholder {
  color: #9196a5;
  font-weight: 300;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input::-ms-input-placeholder {
  color: #9196a5;
  font-weight: 300;
}
#checking .modal-body .checking__wrap .rating-detail dl dd input::placeholder {
  color: #9196a5;
  font-weight: 300;
}
#checking .modal-body .agreeBox {
  margin: 7rem 6rem 15rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#checking .modal-body .agreeBox .agree + .agree {
  margin-top: 5rem;
}
#checking .modal-body .agreeBox .agreeinput {
  margin-top: 4rem;
  width: 100%;
  padding: 6rem 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
}

/* Case2 :: NEW */
.newNotice__inner {
  display: block;
  padding: 5rem;
  height: auto;
  margin: 0 5rem 0 5rem;
  background: #edecf1;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.newNotice__inner span {
  padding: 2rem 3rem;
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #6349ba;
  background-color: #ffde00;
  border-radius: 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.newNotice__inner p {
  display: inline-block;
  padding-left: 4rem;
  font-size: 5.5rem;
}

/* Case3 :: 오늘 할 일 */
.case3 {
  padding: 5rem;
  background-color: #fff;
  border-radius: 3rem;
  -webkit-box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
  box-shadow: 2rem 2rem 4rem rgba(67, 76, 133, 0.28);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.case3 .end {
  padding-top: 13rem;
  font-size: 6.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 8rem;
  word-break: keep-all;
}
.case3 .endText {
  padding-top: 7rem;
  font-size: 5.5rem;
  text-align: center;
  line-height: 7rem;
}

/* Case3 :: 팝업*/
#nursingEnd sub-text {
  word-wrap: keep-all;
}