/* ========== reponsive =========== */
/*
* xs: 576px,// Small screen / phone
* sm: 768px,// Medium screen / tablet
* md: 1024px,// Large screen / desktop
* lg: 1280px,// Extra large screen / wide desktop
* ml: 1400px,// middle screen
* xl: 1600px,
* up:min-width / down:max-width / only:(min-width,max-width)
*/
@media (min-width: 320px) {
  html {
    font-size: 15.625%;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 31.25%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 52.0833333333%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1400px) {
  .mt-20 {
    margin-top: 2rem;
  }
  .mt-30 {
    margin-top: 3rem;
  }
  .mt-40 {
    margin-top: 4rem;
  }
  .mt-50 {
    margin-top: 5rem;
  }
  .mt-60 {
    margin-top: 6rem;
  }
  .mt-80 {
    margin-top: 8rem;
  }
  .txt-depth--01 {
    font-size: 2.4rem;
  }
  .txt-depth--02 {
    font-size: 2.2rem;
  }
  .txt-depth--03 {
    font-size: 2rem;
  }
  .txt-depth--04 {
    font-size: 1.8rem;
  }
  .txt-depth--05 {
    font-size: 1.6rem;
  }
  .txt-depth--06 {
    font-size: 1.4rem;
  }
  .txt-depth--07 {
    font-size: 1.2rem;
  }
}