.sch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.sch-form__select {
  min-width: 130px;
  height: 100%;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d2d5dc;
  background-color: #fff;
  background-image: url("../image/common/icon/icon-clampDown.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.sch-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  font-size: 0;
}
.sch-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid #d2d5dc;
}
.sch-form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.sch-form__input::-moz-placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.sch-form__input:-ms-input-placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.sch-form__input::-ms-input-placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.sch-form__input::placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.ui-form input, .ui-form textarea {
  border: 1px solid #d8dce2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 1.5rem;
  font-size: 5.5rem;
}
.ui-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ui-form__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5.5rem;
}
.ui-form__cell .ui-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ui-form__cell.ml__rem-2 {
  margin-left: 2rem;
}
.ui-form__flex--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ui-form__flex--row.twoArea {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui-form__flex--row.twoArea .ui-input {
  width: 48%;
}
.ui-form__flex--row + .ui-form__flex--row {
  margin-top: 2rem;
}
.ui-form__flex--row .ui-form__cell + .ui-form__cell {
  margin-left: 4rem;
}
.ui-form__flex--row .ui-form__cell--s {
  font-size: 4.8rem;
}
.ui-form__flex--row .ui-form__cell--s + .ui-form__cell--s {
  margin-left: 2rem;
}
.ui-form__flex--row.mt__rem-4 {
  margin-top: 4rem;
}
.ui-form__flex--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ui-form__text {
  font-size: 5.5rem;
  margin-right: 6.5rem;
}
.ui-form.agree {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui-form.agree > div {
  line-height: 7rem;
}
.ui-form.agree .noUnderline {
  padding-bottom: 0;
  border-bottom: 0;
}
.ui-form.mt__rem-9 {
  margin-top: 9rem;
}
.ui-input {
  width: 100%;
  padding-left: 5.5rem;
  height: 20rem;
  font-size: 5.5rem;
  text-indent: 0;
}
.ui-input__full {
  width: 100%;
}
.ui-input__width-m {
  width: 32.2rem;
}
.ui-input__width-400 {
  width: 40rem;
}
.ui-input__width-430 {
  width: 43rem;
}
.ui-input__width-585 {
  width: 58.5rem;
}
.ui-input__height-s {
  height: 13.5rem;
}
.ui-input__bg-gray {
  background: #f8f8f8;
}
.ui-input::-webkit-input-placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-input::-moz-placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-input:-ms-input-placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-input::-ms-input-placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-input::placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-select {
  width: 100%;
  height: 20rem;
  padding-left: 5.5rem;
  font-size: 5.5rem;
  border: 0.3rem solid #d8dce2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../image/common/icon/icon-select.png) no-repeat right 5.5rem center;
  background-size: 3.9rem 2.6rem;
  border-radius: 1.5rem;
}
.ui-textarea {
  width: 100%;
  height: 15rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.ui-textarea__height-265 {
  padding: 5.5rem;
  height: 26.5rem;
}
.ui-textarea::-webkit-input-placeholder {
  color: #9196a5;
}
.ui-textarea::-moz-placeholder {
  color: #9196a5;
}
.ui-textarea:-ms-input-placeholder {
  color: #9196a5;
}
.ui-textarea::-ms-input-placeholder {
  color: #9196a5;
}
.ui-textarea::placeholder {
  color: #9196a5;
}
.ui-radio__inner, .ui-checkbox__inner {
  margin: -0.5rem;
}
.ui-radio__item, .ui-checkbox__item {
  display: inline-block;
}
.ui-radio-object, .ui-checkbox-object {
  position: relative;
  display: block;
  width: 6.9rem;
  height: 6.9rem;
  /* margin-top: -1px; */
  border: 1px solid #ced4db;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5rem;
  background: no-repeat 50% 50% #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  vertical-align: top;
}
.ui-radio:focus + .ui-label .ui-checkbox-object,
.ui-radio:focus + .ui-label .ui-radio-object, .ui-checkbox:focus + .ui-label .ui-checkbox-object,
.ui-checkbox:focus + .ui-label .ui-radio-object {
  outline-width: 1px;
  outline-style: dotted;
}
.ui-radio-input, .ui-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ui-radio-input:checked + .ui-label .ui-radio-object, .ui-checkbox-input:checked + .ui-label .ui-radio-object {
  border: 5px solid #4568a9;
}
.ui-radio-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}
.ui-radio-block .ui-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-radio-block .ui-radio-object {
  display: inline-block;
}
.ui-radio-block .ui-label {
  margin: 0;
}
.ui-radio:checked + .ui-radio-object, .ui-radio:checked + .ui-label .ui-radio-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-checkbox__list.agree {
  padding-bottom: 8rem;
  border-bottom: 2px solid #dfe0e2;
}
.ui-checkbox__list.agree .ui-label__text {
  font-size: 6.5rem;
  font-weight: 500;
}
.ui-checkbox__list.agree :checked + .ui-checkbox-object,
.ui-checkbox__list.agree :checked + .ui-label .ui-checkbox-object {
  border-color: #795bdc;
  background-color: #795bdc;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-checkbox-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}
.ui-checkbox-block .ui-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-checkbox-block .ui-checkbox-object {
  display: inline-block;
}
.ui-checkbox-block .ui-label {
  margin: 0;
}
.ui-checkbox:checked + .ui-checkbox-object, .ui-checkbox:checked + .ui-label .ui-checkbox-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-checkbox.agree {
  border: 1px solid pink;
}
.ui-label {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: normal;
  cursor: pointer;
}
.ui-label__text {
  margin-left: 4rem;
  vertical-align: middle;
  font-size: 5rem;
}
.ui-file-input {
  font-size: t 0;
  line-height: 0;
  white-space: nowrap;
}
.ui-file-input__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.ui-file-input__input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-indent: 0;
}
.ui-file-input__watch {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-file-input__label {
  display: inline-block;
  vertical-align: top;
  width: 13.5rem;
  height: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4568a9;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 5rem;
  white-space: nowrap;
  text-align: center;
}
.ui-file-vol {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #747478;
  letter-spacing: -1px;
}
.ui-file-vol span {
  font-weight: 600;
}

.personalInfo {
  width: 100%;
  padding: 3.5rem;
  border: 1px solid #d8dce2;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.personalInfo__img {
  overflow: hidden;
  width: 39.4rem;
  height: auto;
  border: 1px dashed #d8dce2;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.personalInfo__img img {
  width: 100%;
}
.personalInfo__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.personalInfo__text--inner {
  padding: 14rem 0;
  margin-left: 8rem;
  width: calc(100% - 39.4rem);
}
.personalInfo__text--inner p {
  width: 28.5rem;
  color: #575c62;
}
.personalInfo__text--inner span {
  color: #000;
}
.personalInfo__text--inner > div + div {
  margin-top: 8rem;
}

.agreeView .form-check {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 7.5rem 0;
}
.agreeView .form-check label {
  margin-left: 10rem;
  font-size: 6rem;
}
.agreeView .form-check label span {
  font-size: 6rem;
}
.agreeView .form-check label span.color-red {
  color: #dd5458;
}
.agreeView .form-check label span.color-black {
  color: #000;
}
.agreeView .form-check input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.agreeView .form-check input.termsService[type=checkbox] + label::before {
  position: absolute;
  padding: 1rem;
  left: 0;
  content: " ";
  display: inline-block;
  width: 6.9rem;
  height: 6.9rem;
  margin: -0.3rem 0.8rem 0 0;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 0.3rem;
  background-color: #fff;
  background: #fff url(../image/m-sub/check_gray.png) no-repeat center center;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.agreeView .form-check .sub-item__btn--view {
  position: absolute;
  top: 8rem;
  right: 0;
  width: 2.9rem;
  height: 5.1rem;
  background-image: url("../image/m-sub/icon-right-agree.png");
}

.attach-file__top {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attach-file__bottom {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border: 1px solid #d2d5dc;
}
.attach-file__name {
  line-height: normal;
}
.attach-file__item {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0 0.2rem 2.5rem;
  font-size: 1.6rem;
  background: url(../image/common/icon/icon-file__list.png) no-repeat left center;
  background-size: 1.5rem 1.8rem;
}
.attach-file__item + .attach-file__item {
  margin-top: 1rem;
}
.attach-file__item .delete-file {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: url(../image/common/icon/icon-delete__file.png) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.form-title {
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 500;
}
.form-item.form-item {
  margin-top: 10rem;
}

.radioForm label {
  position: relative;
  font-size: 18px;
  line-height: 2rem;
}
.radioForm span {
  vertical-align: middle;
}
.radioForm [type=radio] {
  position: absolute;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #d9dde3;
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  top: 1.7rem;
  right: 1.7rem;
}
.radioForm [type=radio]:checked {
  position: absolute;
  border: 2px solid #795bdc;
}
.radioForm [type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #795bdc;
}
.radioForm [type=radio]:focus-visible {
  outline: 2px dotted #795bdc;
}
.radioForm [type=radio]:disabled {
  background-color: lightgray;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}
.radioForm [type=radio]:disabled + span {
  cursor: not-allowed;
}

.text-ex-indent {
  padding-left: 4rem;
  font-size: 5.5rem;
  color: #777;
}
.text-ex-indent.ml__rem-20 {
  margin-left: 20rem;
}
.text-ex-indent.ml__rem-25 {
  margin-left: 25rem;
}
.text-ex-indent.ml__rem-30 {
  margin-left: 30rem;
}
.text-ex-indent.mt__rem-4 {
  margin-top: 4rem;
}
.text-ex-indent.mt__rem-9 {
  margin-top: 9rem;
}