@charset 'utf-8';
@import './helper/index';

.bomiNote{
    &-wrap{
        margin-top:10rem;
    }
    &__tit{
        overflow:hidden;
        display:inline-block;
        position:relative;
        font-size:6.6rem;
        font-weight:600;
        span{
            font-size:10rem;
            font-weight:500;
        }
        .bomiNote__tit__capt{
            position:absolute;
            //top:.5rem;
            left:0;
            font: {
                size:6rem;
                weight:600;
            };
            line-height: 8.4rem;
        }
        &--paren{
            display:block;
            width:100%;
            padding-left: 7rem;
            //padding-left:7rem;
            font-size: 6rem;
            line-height: 8.4rem;
            &__normal{
                padding-left: 0;
                .bomiNote__tit__capt{
                    position: unset;
                    padding-right: 2rem;

                }
            }
        }
        // + .ui-buttons{
        //     margin-top:6.5rem;
        // }
    }
    &__subtit{
        font-size:5.5rem;
    }
    &-info{
        padding:9rem 8rem;
        dl{
            display:flex;
            flex-wrap:wrap;
            margin-top:-5rem;
            dt{
                display:flex;
                flex:1 1 50%;
                margin-top:5rem;
                font-size:5.4rem;
            }
            dd{
                flex:1 1 50%;
                margin-top:5rem;
                font-size:5.6rem;
                font-weight:500;
                text-align:right;
            }
        }
        &__img{
            display:block;
            width:6.4rem;
            height:6.2rem;
            margin-right:4.5rem;
            img{
                width:100%;
            }
        }
    }
    &-diary{
        overflow:hidden;
        display:flex;
        align-items:center;
        padding:4.5rem 6rem;
        background-color:#795bdc;
        border-radius:2rem;
        &__img{
            overflow:hidden;
            display:flex;
            align-items:flex-end;
            justify-content:center;
            width:17rem;
            height:17rem;
            margin-right:4rem;
            background-color:#5536be;
            border-radius:100%;
            img{
                width:60%;
            }
        }
        > p{
            font-size:6rem;
            font-weight:500;
            color:#fff;
        }
        > a{
            display:flex;
            align-items: center;
            justify-content: center;
            width:20rem;
            height:10rem;
            margin-left:auto;
            font-size:5rem;
            font-weight:500;
            background-color:#ffde00;
            border-radius:1.5rem;
            color:#6349ba;
        }
        &-write{
            justify-content: space-between;
            padding:4.5rem 9rem;
            padding-right:12rem;
            > p{
                font-size:7.2rem;
            }
        }
    }
    &-write{
        &__img{
            width:23rem;
            margin-bottom:-5rem;
            img{
                width:100%;
            }
        }
        &__txt{
            span{
                display:block;
                margin-bottom:4.5rem;
                font-size:5rem;
                font-weight:300;
            }
        }
    }
    &__btn{
        &--del{
            font-size:4.8rem;
            color:#9196a5;
        }
    }
    &-box{
        &+&{
            margin-top: 12rem;
        }
        .bomiNote{
            &__tit{
                &--paren{
                    margin-bottom: 7rem;
                }
                &--ps{
                    font: {
                        size: 5rem;
                        weight:300;
                    };
                    color:#a7a5ae;
                    &__pink{
                        color:#e90f75;
                    }
                }
            }
            &__subtit{
                margin-bottom: 7rem;
            }
        }
        &__sub{
            &+&{
                margin-top: 7rem;
            }
        }
        .ui-button{
            font-weight: 400;
            &.is-active{
                font-weight: 500;
            }
        }
    }
}
.ui{
    &-form{
        &__cell{
            &.ml-110{
                margin-left:11rem !important;
            }
        }
    }
}
.acordion{
    &-list{
        &__view{
            padding:5rem 4.8rem 9.5rem;
        }
    }
    &-view{
        &__date{
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &-date{
        display:flex;
        align-items: center;
        justify-content: center;
        width:24rem;
        height:8rem;
        margin-right:auto;
        border-radius:5rem;
        color:#fff;
        font-size:1.7rem;
        button{
            width:100%;
            height:100%;
            color:#fff;
            font-size:4rem;
        }
        &--purple{
            background-color:#795bdc;
            font-size:4rem;
        }
        &--gray{
            background-color:#9daaca;
            font-size:4rem;
        }
    }
    &-answer{
        margin-top: 4.5rem;
        textarea{
            font-size: 5rem;
            line-height: 1.8;
        }
        .ui-buttons{
            margin-top: 2rem;
        }
    }
}
.modal{
    &-title{
        text-align:left;
    }
    &-box{
        border:1px solid #747478;
        border-radius:2rem;
        &__tit{
            padding:7.5rem 4.5rem;
        }
        &__body{
            padding:4.5rem;
            border-bottom-left-radius: 2rem;;
            border-bottom-right-radius: 2rem;;
            background-color:#f8f8fb;
        }
        &__date{
            display:block;
            font-size:4.4rem;
            color:#9196a5;
            text-align:right;
        }
        .ui{
            &-form{
                overflow:auto;
                margin-top:5rem;
                .modal-box__textarea{
                }
            }
        }
        &__textarea{
            width:100%;
            height:51rem;
            padding:5rem 4rem;
            border:1px solid #d5d9df;
            border-radius:2rem;
            resize:none;
            outline:none;
        }
    }
}