@import './helper/index';

.apply {
    .carer-detail__text {
        a {
            display: inline-block;
            margin-top: 1rem;
            margin-left: 4rem;
            padding: 1.5rem 4rem;
            font-size: 4.4rem;
            background-color: #9f96c4;
            color: #fff;
            border-radius: 5rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            vertical-align: top;
        }
    }
}
.jobFind {
    &.bgWhite {
        background-color:#fff;
        .d-block {
            margin-top:2rem;
            input {
                padding: 6rem 7rem;
                margin-top: 5rem;
                width: 100%;
                border-radius: 1rem;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &::placeholder {
                    color:#000;
                }
            }
        }
    }
    border-radius: 3rem;
    background-color:#f5f4f9;
    .rating-detail {
        dl {
            align-items: center;
            dt{
                vertical-align: middle;
            }
            dd {
                a {
                    display: inline-block;
                    height: 8rem;
                    margin-top: -1rem;
                    margin-left: 4rem;
                    padding: 0 4rem;
                    font-size: 4.4rem;
                    background-color: #9f96c4;
                    color: #fff;
                    border-radius: 5rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                    line-height: 9rem;
                }
            }
            &+dl {
                margin-top:6rem;
            }
            &.d-block {
                input {
                    padding: 6rem 7rem;
                    margin-top: 5rem;
                    width: 100%;
                    border-radius: 1rem;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    &::placeholder {
                        color: #000;
                        font-weight: 300;
                    }
                }
            }
        }
    }
   
}
.enroll-box {
    .contentGray {
        width:90%;
        font-size:4.8rem;
        color:#9196a5;
        word-break: keep-all;
        line-height: 7rem;
    }
}
