@import './helper/index';


.join{
    &-top{
        margin-top: 14rem;
        margin-bottom: 13rem;
        .img-wrap{
            text-align: center;
        }
    }
}


/** 회원 가입 – 다른 소셜 계정으로 가입한 경우 */ 
.joinSocial{
    &-top{
        .img-wrap{
            margin-top: 18rem;
            margin-bottom: 12rem;
            text-align: center;
        }
    }
    &-name{
        font: {
            size: 8.2rem;
            weight:500;
        }
    }
    &-login{
        margin-top: 21.5rem;
        padding: 0 3rem;
    }
    &-text{
        margin-top: 18rem;
        font-size: 6rem;
        line-height: 9.8rem;
        text-align: center;
    }
}

.joinStep {
    &-process{
        &__inner{
            padding:5rem 4rem 7rem 4rem;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            position: relative;
            &::after{
                display: inline-block;
                position: absolute;
                top: 8.5rem;
                left: 0rem;
                width: calc(100% - 10rem);
                height: 1rem;
                background: url(../image/sub/line-dashed.png) no-repeat center;
                background-size: cover;
                content:"";
                z-index: -1;
            }
            &--step02{
                &::after{
                    left: 3rem;
                    width: calc(100% - 12rem);
                    background-image: url(../image/m-sub/line-dashed__half_purple.png);
                }
            }
            &--step03{
                &::after{
                    left: 3rem;
                    width: calc(100% - 12rem);
                    background-image: url(../image/m-sub/line-dashed__purple.png);
                }
            }
        }
        &__text{
            margin-top: 4rem;
            font-size: 5rem;
            text-align: center;
            color:#9196a5;
            line-height: 6rem;
            letter-spacing: -1px;
        }
        &__step{
            .joinStep-process__img{
                @include d-flex-center;
                position: relative;
                width: 18rem;
                height: 18rem;
                &::before{
                    width: 5rem;
                    height:5rem;
                    background-color: #c3c8d5;
                    background-size: 5rem;    
                    border-radius: 100%;
                    content:"";
                }
                
            }
            &.is-active{
                .joinStep-process__img{
                    background-size: 18rem;
                    background-position: center;
                    &::before{
                        display: none;
                    }
                }
                .joinStep-process__text{
                    color:#000000;
                    font-weight: 500;
                }
            }
            &.is-past{
                .joinStep-process__img{
                    
                    background-position: center;
                    background: url(../image/m-sub/joinStep__past.png) no-repeat center;
                    background-size: 15.4rem;
                    &::before{
                        display: none;
                    }
                }
                .joinStep-process__text{
                    color:#000000;
                    font-weight: 500;
                }
            }
            &__inner{
                width:18rem;
            }
            
            &01{
                &.is-active{
                    .joinStep-process__img{
                        background-image: url(../image/m-sub/joinStep__icon01.png);
                    }
                }
            }
            &02{
                &.is-active{
                    .joinStep-process__img{
                        background-image: url(../image/m-sub/joinStep__icon02.png);
                    }
                }
            }
            &03{
                &.is-active{
                    .joinStep-process__img{
                        background-image: url(../image/m-sub/joinStep__icon03.png);
                    }
                }
                
            }
        }
    }
}


.joinSub-title {
    padding: 10rem 0;
    font-size:6.5rem;
    text-align:center;
    line-height:10rem;
    letter-spacing: -0.5px;
    span {
        font-size:6.5rem;
        font-weight:500;
        color:#6349ba;
        letter-spacing: -0.5px;
    }
}

.sub-item {
    &.join {
        .sub-item{
            &__title {
                font-weight:400;
            }
        }

    }
}

.container-core {
    .careEnrollEnd{
        &-top{
            .img-wrap{
                margin-top: 10rem;
                margin-bottom: 10rem;
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        } 
    }
    .sub-text {
        font-size:6.5rem;
        span{
            font-size:6.5rem;
            color:#6349ba;
            &.bold {
                font-size:8.5rem;
                font-weight:500;
                color:#000;
            }
        }
    }
}



/* joinGuide */
.m{
    &t{
        &-20{
            margin-top:20px;
        }
        &-30{
            margin-top:30px;
        }
        &-40{
            margin-top:40px;
        }
        // &-50{
        //     margin-top:50px;
        // }
        &-60{
            margin-top:60px;
        }
        &__rem {
            &-4 {
                margin-top:4rem;
            }
            &-13 {
                margin-top:13rem;
            }
            &-37 {
                margin-top:37rem;
            }
        }
    }
}


/* 직접 가입 */
.container-joinDirect{
    background: url(../image/common/bg-joinDirect.jpg) no-repeat center;
    background-size: cover;
    .container__inner{
        padding-bottom:0;
    }
}
.joinDirect{
    height: 100%;
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 20rem 5rem 14.8rem 5rem;
    }
    &-title{
        font: {
            size: 8.5rem;
            weight:500;
        };
        line-height: 12rem;
        text-align: center;
        span{
            font: {
                size: 8.5rem;
                weight:500;
            };
            line-height: 12rem;
            text-align: center;
        }
    }
    &-button{
        &s{
            display: flex;
            // margin-top: 20rem;
            .ui{
                &-button{
                    height: auto;
                    padding: 6rem;
                    &+.ui-button{
                        margin-left: 4rem;
                    }
                    &__title, &__text{
                        display: block;
                        width:100%;
                    }
                    &__title{
                        font: {
                            size: 7rem;
                            weight:500;
                        };
                        line-height: 8rem;
                        text-align: left;
                    }
                    &__text{
                        margin-top: 7rem;
                        font: {
                            size: 5rem;
                            weight:300;
                        };
                        text-align: right;
                    }
                }
            }
        }
    }
    &-bottom{
        flex: none;
        &__inner{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    &-logo{
        // margin-top: auto;
        &__inner{
            width: 100%;
            height: 6.6rem;
            margin-top: auto;
            background: url(../image/common/intro-logo.png) no-repeat center;
            background-size: 30.6rem 6.6rem;
        }
    }
}

/* 동영상 콘텐츠 영역 */
.video{
    &-area{
        &__inner {
            // margin-top: 20rem;
            border-radius: 3rem;
        }
    }
    &-item{
        border-radius: 3rem;
        overflow: hidden;
        &__inner {
            position: relative;
            height:0;
            //padding-top:59.702%;
            padding-top:56.3%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width:100%;
            height: 100%;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: 100%;
            border-radius: 3rem;
        }
    }
    &-thumb{
        border-radius: 3rem;
        overflow: hidden;
        &__inner {
            position: relative;
            height:0;
            //padding-top:59.702%;
            padding-top:56.3%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width:100%;
            height: 100%;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: 100%;
            border-radius: 3rem;
        }
    }
}


/* 개발 페이지 수정  */ 
/* joinOtherSocial */ 
#app{
    >div{
        height: 100%;
        .container-join{
            height: 100%;
        }
    }
}