@charset 'utf-8';
@import './helper/mixin';
@import './ux-common.scss';

.m{
    &t{
        &-20{
            margin-top:20px;
        }
        &-30{
            margin-top:30px;
        }
        &-40{
            margin-top:40px;
        }
        &-50{
            margin-top:50px;
        }
        &-60{
            margin-top:60px;
        }
        &-130{
            margin-top:130px;
        }
    }
}
