@charset 'utf-8';
@import './helper/index';

.sub{
    &-item{
        &.gradation{
            &-bg{
                padding:0 5rem 10rem 5rem;
            }
        }
    }
}
.myInfo{
    &-wrap{
        margin-top:10rem;
    }
    &__tit{
        padding:0 5rem;
        font-size:6.6rem;
        font-weight:600;
        span{
            font-size:10rem;
            font-weight:500;
        }
    }
    &-box{
        overflow:hidden;
        padding:6.5rem 7.5rem;
        margin-top:10rem;
        background-color:#795bdc;
        border-radius:3rem;
        &__img{
            display:block;
            float:left;
            width:34rem;
            height:34rem;
            margin-right:6rem;
            border-radius:100%;
            box-shadow:1px 1px 12px 0px rgb(0 0 0 / 55%);
            img{
                width:100%;
            }
        }
        &__item{
            display:block;
            float:left;
            width:calc(50% - 40rem);
            dt{
                display:block;
                float:left;
                width:100%;
                margin-bottom:2.4rem;
                color:#fff;
                font-size:4.4rem;
                font-weight:200;
                opacity:.5;
            }
            dd{
                display:block;
                float:left;
                width:100%;
                font-size:6rem;
                color:#fff;
            }
            &:last-child{
                width:calc(100% - 40rem);
                margin-top:6rem;
            }
        }
    }
}
.ui{
    &-buttons{
        margin-bottom:-2rem;
        margin-left:-2rem;
        button{
            width:calc(50% - 2rem);
            margin-left:2rem;
            margin-bottom:2rem;
            padding:0 7rem;
            background-color:#fff;
            text-align:left;
        }
    }
}
.gradation{
    &-bg{
        &--white_gray{
            background:linear-gradient(0deg, rgba(242,243,247,1) 0%, rgba(255,255,255,1) 100%);
        }
    }
}
.mypage{
    &-link{
        display:flex;
        align-items:center;
        padding:10rem 7rem;
        background:url('../image/sub/icon/icon-right.png') no-repeat 95% center;
        background-size:2.9rem 5.3rem;
        border-bottom:1px solid #e9eaec;
        &__tit{
            font-size:6rem;
            font-weight:600;
            color:#000
        }
        &__img{
            display:block;
            width:10rem;
            height:10rem;
            margin-right:8rem;
            text-align:center;
            img{
                max-width:-webkit-fill-available;
                min-width:auto;
                max-height:-webkit-fill-available;
                min-height:auto;
            }
        }
    }
}