@charset 'utf-8';
@import './helper/mixin';



.modal {
    background: rgba(0, 0, 0, 0.5);
    padding: 10rem 0;
    padding-right: 0 !important;
    &-header {
        padding: 10rem 6rem 0 6rem;
    }

    &-body {
        padding: 0;

        &__main {
            .modal-core {
                padding: 10rem 8rem;
            }
        }
    }

    &-dialog {
        justify-content: center;
    }

    &-content {
        max-width: calc(100% - 10rem);
        max-height: 80%;
        width: 100%;
        padding: 0;
        border: 0;
        box-shadow: none;
        border-radius: 2rem;
        // overflow: hidden;
        &__email {
            .modal {
                &-tit {
                    margin-bottom: 3rem;
                    font-size: 2.4rem;
                }

                &-img {
                    display: block;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
        }
        &__modifyDateCalendar{
            .modal-header{
                margin-top: 10rem;
                margin-bottom: 9rem;
                padding: 0 8rem;
            }
        }
        &-chooseCarer{
            .modal-core{
                padding-top: 12rem;
                padding-bottom: 13rem;
            }
        }
        // &-startCare{
        //     .modal-core{
        //         padding-top: 11rem;
        //         padding-bottom: 10rem;
        //     }
        // }
        /* 모달 사이즈 */
        &__s{
            width: calc(100% - 32rem);
        }
    }

    &-core {
        padding: 12.5rem 5rem;
        &2 {
            padding: 12rem 6rem;
            &:first-child{
                margin-top: -2rem;
            }
            .modal-core2__title {
                position: relative;
                padding-bottom: 6rem;
                margin-bottom: 7rem;
                font : {
                    size: 6rem;
                    weight:600;
                }
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: .4rem;
                    background: #000000;
                    content: "";
                }
                &-s{
                    margin-bottom: 8rem;
                    font : {
                        size: 5rem;
                        weight:300;
                    }
                    line-height: 7rem;
                }
            }
            // &+&{
            //     border-top:3rem solid;
            // }
        }
        &3{
            padding-left: 8rem;
            padding-right: 8rem;
        }
        &__p{
            &y{
                &-0{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    &-tit {
        margin-bottom: 2.5rem;
        font : {
            size: 2rem;
            weight: 500;
        }

        text-align: center;
    }

    &-title {
        margin-bottom: 7.5rem;
        font : {
            size: 6.5rem;
            weight: 500;
        }
        text-align: center;
        line-height: 9rem;
        &2{
            font : {
                size: 6rem;
                weight:500;
            }
        }
        &__font{
            &-l{
                font-size: 7.5rem;
            }
        }
    }

    &-text {
        font-size: 6rem;
        line-height: normal;
        word-break: keep-all;
        &__small {
            font: {
                size: 5rem;
            };
            line-height: 7rem;
            &--title{
                margin-bottom: 4rem;
                font: {
                    size: 5rem;
                };
            }
        }
    }

    &-backdrop {
        background: transparent;
    }

    &-buttons {
        .ui-button {
            font : {
                size: 6rem;
                weight:500;
            }
            border-radius: 0 0 2rem 2rem;
        }
        &__sticky{
            display: flex;
            .ui-button{
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 0;
                border : {
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &+.ui-button{
                    margin-left: 0;
                    border-bottom-left-radius: 0rem;
                    border-bottom-right-radius: 2rem;
                }
            }
        }
    }

    &-box {
        &__gray {
            padding: 5rem 6rem;
            background: #f3f5fb;
            border-radius: 2rem;

            * {
                font-size: 5rem;
                line-height: 7rem;
            }
        }
    }

    /* case3 간병시작하기 모달 */ 
    &-user{
        margin-bottom: 9rem;
        font-size: 5rem;
        &__name{
            font: {
                size: 6.5rem;
                weight:500;
            };
        }
    }

    /* 인적 사항 보미쌤 찾기 모달 */ 
    .ssamSearch{
        
        &__wrap {
            width:100%;
            padding:7rem 6rem 15rem 6rem;
            &>div {
                width:100%;
                box-sizing:border-box;
                border-radius: 1.3rem;

                &.ssamLineTop {
                    margin-top:5rem;
                    border-top: 0.4rem solid #000;
                    border-radius: 0;
                    .ssamLine {
                        padding:7rem 2rem;
                        border-bottom:1px solid #e9eaec;
                        &>div {
                            width:25%;
                            &:nth-child(1) {
                                width:20%;
                            }
                            &:nth-child(2) {
                                width:35%;
                            }
                            &:nth-child(3) {
                                width:20%;
                            }
                            &.choice {
                                a {
                                    color:#228ff8;
                                    text-decoration: underline;
                                }
                            } 
                        }
                    }
                }
            }
        }
    }

    /* 인적 사항 사진 업로드 모달 */ 
    .uploadimg{
        &__wrap {
            width:100%;
            padding:7rem 6rem 15rem 6rem;
            
        }
        &-box{
            width:50%;
            height: 60rem;
            padding: 4rem;
            padding-top:10rem;
            border:1px solid #d8dce2;
            box-sizing:border-box;
            border-radius: 1.3rem;
            text-align: center;
            cursor: pointer;
            img {
                width:100%;
                text-align: center;
                margin:0 auto;
            }
            &+div {
                margin-left:2rem;
                // p {
                //     height:14rem;
                //     line-height:14rem;
                // }
            }
        }
        &-text{
            display: flex;
            align-items: center;
            justify-content: center;
            height:14rem;
            margin-top:6rem;
            line-height: 7rem;
            text-align:center;
            vertical-align: middle;
            font-size:5.5rem;
        }
    }

    /* 인적 사항 사진 올리기 모달 */ 
    .modalUploadImg{
        &__wrap {
            padding: 7rem 6rem 15rem 6rem;
            width:100%;
                .thumb-radio { 
                    &-image {
                        overflow: hidden;
                        position:relative;
                        display:inline-table; 
                        width:50%;
                        height:auto; 
                        cursor: pointer; 
                        border:.3rem solid #d8dce2;
                        border-radius: 1.3rem;
                        img {
                            width:100%; 
                            height:auto; 
                            z-index:1;   
                            transition: opacity .3s ease-in;
                        }
                        &+.thumb-radio-image {
                            margin-left:2rem;
                        }
                        &.active {
                            border:.3rem solid #795bdc;
                        }
                    }
                    
                }
        }
        
    }
}

@include media-breakpoint-down(n-xl){
    //1600 
    .modal {
        .ssamSearch__wrap {
            input {
                &::placeholder {
                    font-size:3rem;
                }
            }
            &> div.ssamLineTop {
                .ssamLine {
                    &> div {
                        font-size:3rem;
                       span {
                        font-size:3rem;
                       }
                       a {
                        font-size:3rem;
                       }
                    }
                }
            }
        }
    }
}




@include media-breakpoint-down(n-ml){ 

    //1400
    /* 모달 사진 업로드 */
    .modal {
        .uploadimg__wrap {
            &> div {
                //padding: 4rem;
                font-size:5.5rem;
                // &+div {
                //     p{
                //         height:8rem;
                //         line-height: 8rem;
                //     }
                // }
                
            }
        }
    }
}


@include media-breakpoint-down(n-md){
    //1024 
    .modal {
        .ssamSearch__wrap {
            input {
                &::placeholder {
                    font-size:5.5rem;
                }
            }
        }
    }
}